/*Globals START*/


canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}





body {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    min-height: 15000px;
    
}


/*Globals END*/


/*Header START*/
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-height:32px;
    min-width: 100%;
    background-color:red;

}
a {
    
    text-decoration: none;
}


/*Header END*/

/*Footer START*/



/*Footer END*/






